@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  padding: 2em;
}

.container p {
  max-width: 70%;
  font-size: 0.9em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  height: 2.3em;
}

.container p img {
  max-width: 95%;
  max-height: 95%;
  position: relative;
  top: 0.7em;
  left: 1em;
}

.container ul {
  list-style: none;
}

progress {
  width: 80%;
  height: 20px;
  -webkit-appearance: none;
}

progress::-webkit-progress-bar {
  background: lightgrey;
  border-radius: 50px;
  border: 1px solid gray;
}

progress::-webkit-progress-value {
  background: greenyellow;
  border-radius: 50px;
}

table {
  border-collapse: collapse;
  width: 30rem;
}

th, td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

.user-info {
  margin-top: 10px;
  margin-bottom: 10px;
}
